<header class="bg-black sticky top-0 flex justify-between z-10">
  <div class="flex items-center gap-5">
    <img src="../../assets/pngwing.com.png" alt="" width="120">
    <ul *ngFor="let item of nav">
      <li class="text-yellow-50">{{item}}</li>
    </ul>
  </div>
  <div class="flex items-center gap-3 text-yellow-50">
  <ng-container *ngIf="user">
    <div class="flex items-center" *ngIf="user">
      <a href=""><span>Welcome </span><strong >{{user?.name}}</strong></a>
      <img [src]="user.picture" alt="" class="rounded-full" width="30" height="25"
      onerror="this.src='../../assets/pngwing.com.png'">
   </div>
   <span >|</span>
    <div class="cursor-pointer mr-2" (click)="signout()">Signout</div>
  </ng-container>
  <div *ngIf="!user" class="cursor-pointer mr-2" (click)="signout()">Signin</div>
  </div>
</header>