<header class="bg-black sticky top-0 flex justify-between z-10">
  <div class="flex items-center gap-5">
    <img src="../../assets/pngwing.com.png" alt="" width="120">
    <ul *ngFor="let item of nav">
      <li class="text-yellow-50">{{item}}</li>
    </ul>
  </div>
  <div class="flex items-center gap-3 text-yellow-50">
   <div class="flex items-center">
      <a href=""><span>Welcome </span><strong >{{user.name}}</strong></a>
      <img [src]="user.picture" alt="" class="rounded-full" width="30" height="25">
   </div>
   <span>|</span>
    <div class="cursor-pointer" (click)="signout()">Sign out</div>
  </div>
</header>