<!-- <div class="absolute">
    <img class="h-screen w-screen" src="https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/becb4b4a-fa87-47ab-b92b-aae2c1c6d6f7/SG-en-20231023-popsignuptwoweeks-perspective_alpha_website_small.jpg" alt="">
  </div>
  <div class="w-full sm:w-6/12 md:w-3/12  absolute left-0 my-36 mx-auto right-0 p-12 bg-black  text-white rounded-lg bg-opacity-80">
   
</div> -->
<div class="bg-cover bg-center bg-fixed"
    style="background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/becb4b4a-fa87-47ab-b92b-aae2c1c6d6f7/SG-en-20231023-popsignuptwoweeks-perspective_alpha_website_small.jpg')">
    <div class="h-screen flex justify-center items-center">
        <div class="bg-gray-800 mx-4  p-4 rounded shadow-md w-full sm:w-1/2 md:w-1/3 lg:w-1/4  bg-opacity-90">
            <h1 class="font-bold  py-3 text-center text-xl text-cyan-50">Netflix Sign In</h1>
            <div id="button" class="relative">

            </div>
        </div>
    </div>
</div>